{% extends 'base.html.twig' %}

{% block title %}UserController{% endblock %}

{% block body %}

<div>
    <h1>{{ controller_name }}! </h1>

    This message is coming from:
    <ul>
        <li>Your controller at <code>/app/src/Controller/UserController.php</code></li>
        <li>Your template at <code>/app/templates/user/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
